* {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
}

html {
    font-size: 14px;
    font-family: sans-serif;
}

div.blog-masthead {
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
}

h1.posts, h1.single-post, a {
    color: yellow;
    text-decoration: none;
}

h1.posts:hover {
    text-decoration: underline;
}

footer.blog-footer {
    display: flex;
    justify-content: center;
}

