@media (min-width: 60em) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: sans-serif;
    color: rgb(0, 133, 99);
}

div.blog-masthead {
    margin-bottom: 3rem;
    text-align: center;
    background-color: rebeccapurple;
}

h1.posts, h1.single-post, a {
    color: yellow;
    text-decoration: none;
}

h1.posts:hover {
    text-decoration: underline;
}

footer.blog-footer {
    padding: 3.5rem 0;
    color: #999999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}


